@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-blue-Primary-button: #1E3A8A;
  --color-blue-Links: #2563EB;
  --color-gray-Heading-text: #111827;
  --color-gray-Body-text: #374151;
  --color-gray-Placeholder-text: #6B7280;
  --color-gray-Input-border: #D1D5DB;
  --color-gray-Card-background: #E5E7EB;
  --color-white-Card-background: #FFFFFF;
  --color-gray-Page-background: #F9FAFB;
  --color-green-Success: #059669;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
